body{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    justify-content: center;
}

.guidelines{
    font-size: 14px;
    color: rgb(198, 198, 198);
    background-color: rgba(0, 0, 0, 0.856);
    padding: 1em;
    margin-top: 5em;
}

.input {
    display: flex;
    flex-direction: column;
    width: 400px;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.input>span{
    box-sizing: content-box;
    border-radius: 10px;
    padding: 10px;
}

.answer{
    border: 0.8px solid black;
    border-bottom: 1px solid red;
    border-right: 1px solid red;
    border-radius: 10px;
    padding: 10px 20px;
    position: relative;
    overflow: hidden;
}

.answer::before{
    background-color: red;
    content: '  ';
    position: absolute;
    bottom: -2px;
    right: -2px;
    width: 10px;
    height: 20px;
    transform: rotate(45deg) scale(2);
}

:is(.dark\:bg-grid-white\/\[0\.2\]) {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' width='32' height='32' fill='none' stroke='rgb(255 255 255 / 0.2)'%3e%3cpath d='M0 .5H31.5V32'/%3e%3c/svg%3e");
}