body{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}


.title{
    text-align: center;
}

.converter{
    display: flex;
    gap: 1em;
}

.converter>div{
    display: flex;
    flex-direction: column;
    justify-content: center;
}